


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    background-color: black;
    border-radius: 1rem;
    width: 700px;
    margin-top: 10px;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

h1 a { 
    text-decoration: none;
    color: white;
}

h1 a:hover {
    color:yellow
}

main h2 {
    background: color black
}

p {
    font-size: 30px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: yellow;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    line-height: 1.6;
    text-align: center;
}

body {
    background-image: url('/images/Flag_of_Lithuania.svg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

img {
    width: 300px;
    border-radius: 1em;
}

footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: green;
}

footer p {
    color: white
}

footer {
    background-color: black;
    border-radius: 1rem;
    margin: auto;
    width: 400px;
}

/* Ultility classes */

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text-black {
    color: black;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.grid {
    display: grid;
}

/* Custom classes */

.downsmariusbilde {
    width: 300px;
    border-radius: 1em;
    margin-top: 8rem;
    box-shadow: 0 0 20px 10px black;
    outline: 5px solid red;
}

.interpol {
    width: 100px;
    border-radius: 1em;
    margin-top: 8rem;
    box-shadow: 0 0 20px 10px red;
    outline: 3px solid red;
    top: 0;
    margin-left: 100px;
}

.neger {
    width: 120px;
    border-radius: 1em;
    margin-top: 8rem;
    box-shadow: 0 0 20px 10px red;
    outline: 3px solid red;
    top: 0;
    margin-left: 15rem;
}

.portfolioimages img {
    margin-top: 2rem;
    width: 800px;
    height: auto;
}

.photogrid img {
    width: 300px;
    height: 300px;
    border-radius: 1em;
    outline: 5px solid #FFD700;
    transition: outline 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .photogrid img:hover {
        outline: 5px solid #FF4500;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.photoalbumgorge {
    gap: 1rem;
}